@charset "UTF-8";

*{
  margin: 0;
  padding: 0;
}
html{
  font-family: Arial, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", Verdana, sans-serif;
  font-size:62.5%; /* 10px */
}
body{
  margin: 0;
  background-color: #ececec;
  color: #333;
  letter-spacing: 0.1em;
  line-height: 1;
}

ul, a, p, h1, h2, h3, h4, time{
  letter-spacing: 0.1em;
}


a{
  text-decoration: none;
  color: #333;
}

/* font-size */
li{
  list-style-type: none;
  font-size: 1.8rem;
}

p{
  font-size: 1.2rem;
}

@media screen and (max-width: 800px) {
  li{
    font-size: 1.5rem;
  }
}



/* header */
.header {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 357px;
  /* background-color: #dddddd; */
}

.header__logo{
  width: 167px;
  transition: width 0.1s ease-in-out;
}

.header__menu{
  margin-top: 60px;
}

.header__menu ul{
  font-style: italic;
}

.header__menu li{
  margin-top: 40px;
}

.header__menu a{
  color: #FFF;
  background-color: #333;
}

.header__menu .active a{
  color: #333;
  background-color: #FFF;
}

.header__debug{
  margin-top: 40px;
  font-style: italic;
}

/* header_sp */
@media screen and (max-width: 800px) {
  .header {
    position: absolute;
    top: 30px;
    left: 20px;
    width: 185px;
  }

  .header__logo{
    width: 116px;
  }

  .header__menu{
    margin-top: 40px;
  }
}

/* about */
.about {
  position: absolute;
  top: 40px;
  right: 60px;
}

.about p{
  transform-origin: 100% 0;
  transform: rotate(-90deg);
}

.about a{
  text-decoration: underline;
}

/* about_sp */
@media screen and (max-width: 800px) {
  .about {
    top: 30px;
    right: 40px;
  }
}

/* footer */
.footer {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 357px;
  line-height: 0;
  /* background-color: #dddddd; */
}

.footer__link p{
  line-height: 1.6;
  font-weight: 700;
}

.footer__link a{
  text-decoration: underline;
  font-size: 1.2rem;
  line-height: 1.6;
}

.footer__link .copy{
  margin-top: 10px;
  font-weight: 100;
  font-size: 1rem;
}

/* footer_sp */
@media screen and (max-width: 800px) {
  .footer {
    position: absolute;
    bottom: 30px;
    left: 20px;
  }
}
